<div class="row">
    <div class="col-md-3">
        <div class="columns"> 
        <a class="text-muted" href="#introduction">
            Introduction
        </a>
    </div>
    <div class="columns"> 
        <a class="text-muted" href="#experience">
            Experience
        </a>
    </div>

    <div class="columns"> 
        <a class="text-muted" href="#project">
            Project
        </a>
    </div>
    </div>
    <div class="col-md-3">
    <div class="columns"> 
        <a class="text-muted" href="#eduction">
            Education
        </a>
    </div>

    <div class="columns">
        <a class="text-muted" href="#skills">
            Skills
        </a>
    </div>

    </div>
</div>
